<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee (Links to an external site.)Links to an external site."
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance (Links to an external site.)Links to an external site."
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee (Links to an external site.)Links to an external site.
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd (Links to an external site.)Links to an external site."
  version="4.0"
  metadata-complete="true">

  <display-name>ANZ Tomcat Trial</display-name>
  <description>
     Welcome to Tomcat
  </description>

	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class> org.springframework.web.servlet.DispatcherServlet </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/home.html</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/viewfriend.html</url-pattern>
		</servlet-mapping>

	<servlet>
		<servlet-name>createuser</servlet-name>
		<servlet-class>com.company.servlets.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createuser</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addfriend</servlet-name>
		<servlet-class>com.company.servlets.AddFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addfriend</servlet-name>
		<url-pattern>/addfriend</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>viewfriend</servlet-name>
		<servlet-class>com.company.servlets.ViewFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewfriend</servlet-name>
		<url-pattern>/viewfriend</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>addactivity</servlet-name>
		<servlet-class>com.company.servlets.AddActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addactivity</servlet-name>
		<url-pattern>/addactivity</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>chat</servlet-name>
		<servlet-class>com.company.servlets.ChatManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chat</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>





</web-app>